USE [master]
GO
/****** Object:  Database [NvmK24cnt2_Lesson10]    Script Date: 9/25/2026 9:47:59 PM ******/
CREATE DATABASE [NvmK24cnt2_Lesson10]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NvmK24cnt2_Lesson10', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NvmK24cnt2_Lesson10.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NvmK24cnt2_Lesson10_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NvmK24cnt2_Lesson10_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NvmK24cnt2_Lesson10].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NvmK24cnt2_Lesson10]
GO
/****** Object:  Table [dbo].[Nvm_Member]    Script Date: 9/25/2026 9:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nvm_Member](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nchar](50) NULL,
	[Password] [nchar](50) NULL,
 CONSTRAINT [PK_Nvm_Member] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
