USE [master]
GO
/****** Object:  Database [Nvm_2410900054_Db]    Script Date: 9/26/2026 12:53:41 PM ******/
CREATE DATABASE [Nvm_2410900054_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nvm_2410900054_Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Nvm_2410900054_Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nvm_2410900054_Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Nvm_2410900054_Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nvm_2410900054_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nvm_2410900054_Db]
GO
/****** Object:  Table [dbo].[NvmEployee]    Script Date: 9/26/2026 12:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NvmEployee](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NvmName] [nchar](50) NULL,
	[NvmGender] [bit] NULL,
	[NvmBirthday] [date] NULL,
	[NvmEmail] [nchar](100) NULL,
	[NvmPhone] [nchar](10) NULL,
	[NvmActive] [bit] NULL,
 CONSTRAINT [PK_NvmEployee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NvmStudent]    Script Date: 9/26/2026 12:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NvmStudent](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NvmName] [nchar](50) NULL,
	[NvmGender] [bit] NULL,
	[NvmBirthday] [date] NULL,
	[NvmEmail] [nchar](100) NULL,
	[NvmPhone] [nchar](10) NULL,
	[NvmActive] [bit] NULL,
 CONSTRAINT [PK_NvmStudent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
